{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>Booking Details</h1>
  <p><strong>Room:</strong> {{ booking.room}}</p>
  <p><strong>Start Date:</strong> {{ booking.startdate}}</p>
  <p><strong>Room:</strong> {{ booking.enddate}}</p>
  <p><strong>Created by:</strong> {{ booking.organizer }}</p>
  <p><strong>Created on:</strong> {{ booking.dateadded }}</p>
  <a href="{{ booking.get_update_url }}"><button class="btn btn-secondary">Update Booking</button></a>
  <a href="{{ booking.get_delete_url }}"><button class="btn btn-danger">Delete Booking</button></a>
</div>
  
{% endblock %}
