{% extends "base_generic.html" %}

{% block content %}
<div class="">
  <h1>Booking List</h1>
  <br>
  <a href="{% url 'booking-create' %}"><button class="btn btn-primary mb-3">Add Booking</button></a>
  {% if booking_list %}
  <ul class="list-group">
    {% for booking in booking_list %}
      <li class="list-group-item">
        <a href="{{ booking.get_absolute_url }}">{{ booking.startdate }} - {{booking.room.name}} - {{booking.organizer}}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no bookings in the library.</p>
  {% endif %}
</div>
  
{% endblock %}
