{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>Room List</h1>
  <br>
  <a href="{% url 'room-create' %}"><button class="btn btn-primary mb-3" >Add Room</button></a>
  <a href="{% url 'booking-create' %}"><button class="btn btn-secondary mb-3" >Book Room</button></a>
  <a href="{% url 'rooms-availabilities' %}"><button class="btn btn-dark mb-3" >Room Availabilities</button></a>
  
  {% if room_list %}
  <ul class="list-group">
    {% for room in room_list %}
      <li class="list-group-item">
        <a href="{{ room.get_absolute_url }}">{{ room.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no rooms in the library.</p>
  {% endif %}
</div>
  
{% endblock %}
