{% extends "base_generic.html" %}

{% block content %}
{% load custom_tags %}
<div class="container">
  <h1>Available Rooms</h1>
  <br>

  <form action="{% url 'rooms-availabilities' %}" method="post">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="start">Date</label>
      <input class="form-control" id="start" name="start" type="date">
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Search">
  </form>
  <br>
  <br>
  
  <h4>Results for {{ start }}: </h4>
  
  
    {% if rooms %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Room</th>
          <th scope="col">Booked Slots</th>
        </tr>
      </thead>

      {% for room in rooms %}

      <tbody>
        <tr>
          <td><a href="{{ room.get_absolute_url }}">{{ room.name }}</td>
          <td>
            <ul class="list-group">
              {% for booking in bookings %}
                {% if room.name == booking.room.name %}
                <li class="list-group-item text-center">
                  <p>Start Time: {{ booking.starttime }}</p>
                  <p>End Time: {{ booking.endtime }}</p>
                  <p>Booked by: {{ booking.organizer }}</p>
                </li>
                  
                {% endif %}
              
              {% endfor %}
              
            </ul>
          </td>
        </tr>
        
      </tbody>
      {% endfor %}

    {% else %}
    <p>There are no rooms in the library.</p>
    </table>
    {% endif %}
  
</div>
  


  
{% endblock %}
