{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>Available Rooms</h1>
  <br>

  <form action="{% url 'rooms-availabilities' %}" method="post">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="start">Date</label>
      <input class="form-control" id="start" name="start" type="date">
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Search">
  </form>
  <br>
  <br>
  
  <h4>Results for {{ start }}: </h4>
  
  
    {% if rooms %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Room</th>
          <th scope="col">Available Slots</th>
        </tr>
      </thead>

      {% for room in rooms %}

      <tbody>
        <tr>
          <td><a href="{{ room.get_absolute_url }}">{{ room.name }}</td>
          <td>
            <ul class="list-group">
              <li class="list-group-item text-center">1pm - 2pm</li>
              <li class="list-group-item text-center">2pm - 3pm</li>
              <li class="list-group-item text-center">3pm - 4pm</li>
              <li class="list-group-item text-center">4pm - 5pm</li>
            </ul>
          </td>
        </tr>
        
      </tbody>
      {% endfor %}

    {% else %}
    <p>There are no rooms in the library.</p>
    </table>
    {% endif %}
  
</div>
  


  
{% endblock %}
